<section class="add-items-section">
  <div class="add-items-container">
    <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control">
              <input
                required
                style="width: 6.25rem;"
                type="number"
                name="amount"
                class="input"
                placeholder="Amount"
                [ngModel]="item.amount"
              />
            </p>
          </div>

          <div class="field">
            <p class="control">
              <input
                required
                type="text"
                name="description"
                class="input"
                placeholder="Description"
                [ngModel]="item.description"
              />
            </p>
          </div>

          <div class="field is-narrow">
            <button
              class="button"
              [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"
              type="submit"
              [disabled]="!itemForm.valid"
            >
              <span *ngIf="isNewItem">Add</span>
              <span *ngIf="!isNewItem">Save</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
