<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{ red: totalBudget < 0, green: totalBudget > 0 }">
    {{ totalBudget }}
  </h2>
  <p>Use positive amounts for income, and negative amounts for expenses</p>
</section>

<app-add-item-form (formSubmit)="addItem($event)"></app-add-item-form>

<hr style="margin-top: 0;" />

<app-budget-item-list
  [budgetItems]="budgetItems"
  (delete)="deleteItem($event)"
  (update)="updateItem($event)"
></app-budget-item-list>
